.OpenButton {
    display: block;
    background-color: #DCE1E5;
}

.CloseButton {
    display: block;
    margin-left: auto;
    margin-bottom: 2%;
    border: none;
    background: transparent;
}

.InfoModalOverlay {
    position: fixed;
    overflow-y: auto;
    height: 96vh;
    border: 1px solid #ccc;
    top: 3%;
    left: 2%;
    right: 2%;
    bottom: 13%;
    border-radius: 8px;
    background-color: #DCE1E5;
}

.InfoModalContent {
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #DCE1E5;
    padding: 10%;
}

.LogModalOverlay {
    position: fixed;
    top: 15%;
    right: 65%;
}

.LogModalContent {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #DCE1E5;
    padding: 5%;
}

.LogModalContentButton {
    display: block;
    margin-left: auto;
    border: none;
    background: transparent;
}

.LogModalContentText {
    overflow: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.LogModalContentText::-webkit-scrollbar {
    width: 0.4rem;
}

.LogModalContentText::-webkit-scrollbar-track {
    background: transparent;
}

.LogModalContentText::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}
