.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
}

.App-main {
  padding: 1.5rem;
  overflow-y: auto;
  flex-grow: 1;
}


.App-search {
  width: 100%;
  background: #111;
  padding-top: 1.5rem;
  flex-shrink: 0;
}
